@font-face{
	font-family: Amaranth-regular;
	src: '/~rovery/img_fonts_misc/Amaranth-Regular.otf';
}

html{
	height:100%;
}

body{
	height:100%;
	min-height:100%;
	padding:0;
	margin:0;
  background-color:white; 
	/*background-color:#A0A0A0;
*/}

.body{
	height:400px;
	width:127px;
	float:left;
}


.nav-bar {
  color: #151515;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 8px;
  border-style:solid;
  border-color:black;
  border-width:	0px 0px medium;
 /* border-top-left-radius:.5em .5em;
  border-top-right-radius:.5em .5em;
  margin-left:5px;
  margin-right:5px; */
}

.nav-bar > ul {
  margin: 0;
  padding: 0;
  margin-left: 43px;
}

.nav-bar > ul > li , .nav-bar>ul>div>li{
  display: inline;
  white-space:nowrap;
  color:#151515;
	
}

.nav-bar > ul > li > a , .nav-bar>ul>div>li>a{
  color: white;
  padding: 0px 10px;
  line-height: 25px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: .1em;
}

.nav-bar > ul > li > a:hover, .nav-bar >ul>div>li>a:hover{
  color: #003366;
}

.nav-bar> ul> div{
	float:right;
}


.console-bar {
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 8px;
  margin-left:5px;
  margin-right:5px
}

.console-bar > ul {
  margin: 0;
  margin-left: 43px;
  font-size:0px;
  
}

.console-bar > ul > li  {
  background-color:#003366;
  white-space:nowrap;
  display:inline;
  border-color:black;
  border-style:solid;
  border-width:thin;
  color: #F4F4F4;
  margin:0px;
  padding:2px;
  padding-left:10px;
  padding-right:10px;
  line-height: 25px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: .1em;
}


.console-bar > ul > li > a {
  color: #151515;
  padding: 0px 10px;
  line-height: 25px;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: .1em;
}

.console-bar > ul > li > a:hover {
  color: #39F300;
}



.side-bar{
  width:124px;
  min-height:100%;
  overflow:hidden;
  background-color: #003366;
  color:white;
  font-weight: 350px;
  font-size: 16px;
  letter-spacing: 2px;
  border-style:solid;
  border-color:black;
  border-width:thin;
  border-bottom-right-radius:.5em .5em;
  border-bottom-left-radius:.5em .5em;
  margin-left:5px;
  margin-right:5px;
  float:left;
}

.side-bar>ul{
	margin: 0;
	padding-left: 8px;
	padding-right: 20px;
}

.side-bar>ul>li{
	display:block;
	text-align:left;
  padding-top:16px;
}

.chat-box{
	margin-top:15px;
	height:250px;
	background-color:white;
	color:black;
	float:left;
}

#chat-box-title{
	border-width:thin 0px thin 0px;
	border-style:solid;
	border-color:black;
}

.spec-sales{
	margin-right:10%;
	float:right;
	width:65%;
	text-align:center;
}

